@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @foreach (var i in ViewBag.Songs)
    {
        <div class="d-flex align-items-center justify-content-between bg-gray ">
            <div class="d-flex align-items-center justify-content-between w-100">
                <span class="fw-bold h4 ">@i.Artists - @i.SongName</span>
                <div class="d-flex align-items-center justify-content-between bg-gray ">
                    <audio controls class="align-self-end">
                        <source src="@i.Path" type="audio/mpeg">
                    </audio>
                    <button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("AddToPlaylist", "Playlist", new { songId = i.SongId, playlistId = Model.Id }) + "'");">Add To Playlist</button>
                </div>

            </div>

        </div>
    }
    }