@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <button asp-action="ChooseSong" type="button" class="btn btn-success btn-add-line">Add Song</button>
    @foreach (var i in ViewBag.Songs)
    {
        <div class="d-flex align-items-center justify-content-between bg-gray ">
            <div class="d-flex align-items-center justify-content-between w-100">
                <span class="fw-bold h4 ">@i.Artists - @i.SongName</span>
                <audio controls class="align-self-end">
                    <source src="@i.Path" type="audio/mpeg">
                </audio>

            </div>
            <div class="d-flex align-items-center justify-content-between ">
                @Html.ActionLink("Edit  ", "Edit", "Song", new { id = i.SongId })  |
                @Html.ActionLink("  Delete", "Delete", "Song", new { id = i.SongId })
            </div>
        </div>


    }
}
